<div class="container">
  <h3>Welcome to Website</h3>

  <p>Enter your mobile no. & email id</p>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="input">
      <mat-label>MOBILE NO.</mat-label>
      <br>
      <input matInput type="Enter your mobile no." name="phone" type="text" required [(ngModel)]="phone">
    </div>

    <div class="input">
      <mat-label>EMAIL ADDRESS</mat-label>
      <br>
      <input matInput type="Enter your email id" name="email" type="text" required [(ngModel)]="email" />
    </div>

    <div class="btn">
      <br>
      <button mat-raised-button color="primary" type="submit">CONTINUE</button>
    </div>
  </form>
</div>
